[Unit]
Description=Rtl2MQTT service
After=network.target
After=syslog.target
Wants=mosquitto.service
Documentation=https://github.com/sheilbronn/rtl2mqtt
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
Environment="LOGBASE=/var/log/rtl2mqtt"
Environment="USER=openhabian"
Environment="MQTTBROKER=localhost"
ExecStartPre=+/bin/sh -c "/bin/mkdir -p $LOGBASE && chown $USER $LOGBASE && logger $LOGBASE in place"
ExecStart=/usr/local/bin/rtl2mqtt.sh -l $LOGBASE -h $MQTTBROKER -r -r -q 
User=openhabian
WorkingDirectory=/tmp
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target